<!-- <p>details works! {{ housingLocationId }}</p> -->

<!-- <article class="bg-white" id="detail">
  <div class="grid md:grid-cols-2 align-element items-center gap-8">
    <section>
      <h2>{{ housingLocation?.name }}</h2>
      <p>{{ housingLocation?.city }}, {{ housingLocation?.state }}</p>
      <br />
      <h2>About this housing location</h2>
      <ul>
        <li>Units available: {{ housingLocation?.availableUnits }}</li>
        <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
        <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
      </ul>
    </section>

    <img
      [src]="housingLocation?.photo"
      alt="Exterior photo of {{ housingLocation?.name }}"
      crossorigin
    />
  </div>
</article> -->

<!-- <article
  class="bg-gradient-to-r from-blue-500 to-teal-400 text-white p-8 rounded-lg shadow-lg"
  id="detail"
> -->
<article
  class="bg-gradient-to-r from-rose-500 to-purple-500 text-white rounded-lg shadow-lg"
  id="detail"
>
  <div
    class="grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 items-center gap-8"
  >
    <section class="p-4">
      <h2 class="text-3xl font-bold">
        <mat-icon class="text-violet-500"> location_on </mat-icon>&nbsp;{{
          housingLocation?.name
        }}
      </h2>
      <p class="text-xl">
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
      <br />
      <h2 class="text-2xl font-semibold">About this housing location</h2>
      <ul class="mt-4 space-y-2">
        <li class="flex items-center">
          <mat-icon class="w-6 h-6 text-green-500 mr-2">people</mat-icon>
          Units available: {{ housingLocation?.availableUnits }}
        </li>
        <li class="flex items-center">
          <mat-icon class="w-6 h-6 text-green-500 mr-2">wifi</mat-icon>
          Does this location have wifi: {{ housingLocation?.wifi }}
        </li>
        <li class="flex items-center">
          <mat-icon class="w-6 h-6 text-green-500 mr-2">dry_cleaning</mat-icon>
          Does this location have laundry: {{ housingLocation?.laundry }}
        </li>
      </ul>
    </section>

    <img
      [src]="housingLocation?.photo"
      alt="Exterior photo of {{ housingLocation?.name }}"
    />
  </div>
</article>
