<section>
  <!-- V1 -->
  <!-- <form>
    <input
      matInput
      type="text"
      placeholder="Filter by city"
      class="border border-gray-300 rounded-lg p-2"
      style="outline: none"
    />
    <button
      class="bg-purple-300 hover:bg-fuchsia-400 text-white rounded-lg p-2 mx-1"
    >
      Search
    </button>
  </form> -->

  <!-- V2 -->
  <mat-form-field>
    <mat-label>Search Travel</mat-label>
    <input
      matInput
      type="text"
      placeholder="Filter by city"
      class="border border-gray-300 rounded-lg p-2"
      style="outline: none"
      [(ngModel)]="value"
    />
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <button mat-raised-button class="mx-1">Search</button>
</section>

<!-- ส่งแบบ object เดียว { ... }
<section class="w-full mx-auto mt-8">
  <app-housing-location [housingLocation]="housingLocation" />
</section> 
-->

<!-- ส่งแบบหลาย object ใน array[ { ... }, { ... } ] โดยใช้ *ngFor -->
<section
  class="w-full mx-auto mt-8 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  id="travel-location"
>
  <app-housing-location
    *ngFor="let housingLocation of housingLocationList"
    [housingLocation]="housingLocation"
  ></app-housing-location>
</section>
