<form (submit)="onSubmit()">
  <table cellspacing="0">
    <tr>
      <td colspan="2">
        <mat-form-field class="w-full">
          <mat-label>Username/Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ex. pat@example.com"
            #email="ngModel"
            [(ngModel)]="formObj.email"
            name="email"
            autocomplete="current-email"
            email
            pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}"
            required
          />
          @if(email.errors?.['required']){
          <mat-error>Email is <strong>required</strong></mat-error>
          } @if(email.errors?.['pattern']){
          <mat-error>Please enter a valid email</mat-error>
          }
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="formObj.password"
            name="password"
            autocomplete="current-password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>Password is <strong>required</strong></mat-error>
          <!-- <mat-error>Please enter a valid password</mat-error> -->
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <mat-form-field class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="formObj.passwordCf"
            name="passwordCf"
            autocomplete="current-passwordCf"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>Confirm Password is <strong>required</strong></mat-error>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field hintLabel="Max 10 characters">
          <mat-label>First Name</mat-label>
          <input
            matInput
            #input
            minlength="3"
            maxlength="10"
            placeholder="Ex. Nougat"
            #firstName="ngModel"
            [(ngModel)]="formObj.firstName"
            name="firstName"
            required
          />
          <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
          @if(firstName.errors?.['required']) {
          <mat-error>First Name is <strong>required</strong></mat-error>
          } @if(firstName.errors?.['minlength']) {
          <mat-error>Min 3 Characters Needed</mat-error>
          }
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="formObj.lastName" name="lastName" />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <mat-form-field class="w-full">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="Ex. 100 Main St"
            [(ngModel)]="formObj.address"
            name="address"
          >
1600 Software Horse. Bangkok, Thailand
          </textarea>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <mat-form-field class="w-full">
          <mat-label>Telephone</mat-label>
          <span matTextPrefix>+66 &nbsp;</span>
          <input
            type="tel"
            matInput
            placeholder="555-555-1234"
            [(ngModel)]="formObj.tel"
            name="tel"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input
            matInput
            placeholder="Ex. San Francisco"
            [(ngModel)]="formObj.city"
            name="city"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select [(ngModel)]="formObj.state" name="state">
            @for (c of countries; track $index) {
            <mat-option value="{{ c.id }}">{{ c.name }}</mat-option>
            }
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            #postalCode
            maxlength="5"
            placeholder="Ex. 94105"
            value="94043"
            [(ngModel)]="formObj.postalCode"
            name="postalCode"
          />
          <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div class="text-center mt-3 mb-5">
    <button type="reset" mat-button style="height: 55px">Reset</button>
    &nbsp;
    <button type="submit" mat-flat-button color="primary" style="height: 55px">
      Submit
    </button>
  </div>
</form>
